/.vs

/build
/out

/smile-editor/resources/scripts

/smile-editor/sandbox-project/assets/scripts/out
/smile-editor/sandbox-project/assets/scripts/bin
/smile-editor/sandbox-project/assets/scripts/.vs

/conan/Debug
/conan/Release